<form method="post" action="{% url 'restaurants:results' %}">
    {% csrf_token %}
    <input type="text" id="latitude" name="latitude" required readonly>
    <input type="text" id="longitude" name="longitude" required readonly>
    <select name="search_range" required>
        <option value="1">300m</option>
        <option value="2">500m</option>
        <option value="3">1km</option>
        <option value="4">2km</option>
        <option value="5">3km</option>
    </select>
    <select name="genre_id">
        <option value="">お店のジャンルすべて</option>
        <option value="G001">居酒屋</option>
        <option value="G002">ダイニングバー・バル</option>
        <option value="G003">創作料理</option>
        <option value="G004">和食</option>
        <option value="G005">洋食</option>
        <option value="G006">イタリアン・フレンチ</option>
        <option value="G007">中華</option>
        <option value="G008">焼肉・ホルモン</option>
        <option value="G017">韓国料理</option>
        <option value="G009">アジア・エスニック料理</option>
        <option value="G010">各国料理</option>
        <option value="G011">カラオケ・パーティー</option>
        <option value="G012">バー・カクテル</option>
        <option value="G013">ラーメン</option>
        <option value="G016">お好み焼き・もんじゃ</option>
        <option value="G014">カフェ・スイーツ</option>
        <option value="G015">その他グルメ</option>
    </select>
    <button type="submit" id="submit-button" disabled>検索</button>
</form>
<p id="loading-message">現在地を取得中です...</p>
