{% extends 'base.html' %}

{% block title %}店舗詳細{% endblock %}
{% block content %}
    <div class="card">
        <img src="{{ restaurant.photo.pc.l }}" alt="{{ restaurant.name }}">
        <h1>店舗名: {{ restaurant.name }}</h1>
        <p>ジャンル： {{ genre_name }}</p>
        <p>営業時間: {{ restaurant.open }}</p>
        <p>{{ restaurant.catch }}</p>
    </div>
    <div class="map">
        <h1>地図</h1>
        <button>Google Mapで見る</button>
    </div>
    <div class="access">
        <h1>アクセス</h1>
        <p>住所 {{ restaurant.address }}</p>
        <p>交通アクセス {{ restaurant.access }}</p>
        <p>最寄駅 {{ restaurant.station_name }}</p>
        <p>駐車場 {{ restaurant.parking }}</p>
    </div>
    <div class="basic-info">
        <h1>基本情報</h1>
        <p>店舗名 {{ restaurant.name }}</p>
        <p>店舗名かな {{ restaurant.name_kana }}</p>
        <p>営業時間 {{ restaurant.open }}</p>
        <p>定休日 {{ restaurant.close }}</p>
        <p>住所 {{ restaurant.address }}</p>
        <p>交通アクセス {{ restaurant.access }}</p>
        <p>禁煙::喫煙 {{ restaurant.non_smoking }}</p>
        <p>クレジットカード {{ restaurant.card }}</p>
        <p>ペット可 {{ restaurant.pet }}</p>
        <p>料金備考 {{ restaurant.budget_memo }}</p>
        <p>wifi有無 {{ restaurant.wifi }}</p>
        <p>バリアフリー {{ restaurant.barrier_free }}</p>
        <p>TV,プロジェクター {{ restaurant.tv }}</p>
        <p>飲み放題 {{ restaurant.free_drink }}</p>
        <p>個室 {{ restaurant.private_room }}</p>
        <p>駐車場 {{ restaurant.parking }}</p>
    </div>
    <a href="{% url 'restaurants:search' %}">検索条件入力画面に戻る</a>
{% endblock %}
